@import url("https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Karla:wght@600&family=Rajdhani:wght@600&family=Roboto+Mono:wght@200;500&family=Space+Mono&display=swap");
@import url("./social-links.css");
@import url("go_to_button.css");

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 12px;
  width: 100%;
}

.main-header {
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.contact {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: "Rajdhani", sans-serif;
}

.contact p {
  display: inline-block;
}

.contact span {
  color: #aea6a6;
  margin: 0 20px;
}

/* PRESENTATION SECTION */

.presentation {
  width: 80%;
  height: 95vh;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.presentation-resume {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation-resume h2::first-line {
  width: 100%;
  font-size: 5rem;
}

.presentation-resume h2 {
  font-family: "Karla", sans-serif;
  color: #292929;
  margin: 0;
  width: min-content;
  font-size: 4rem;
}

.presentation-subtitle {
  font-family: "Space Mono", monospace;
  color: #645a5a;
  word-spacing: 1em;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

.presentation-image-container {
  max-height: 700px;
  height: 80%;
  width: 65%;
}

.presentation-image {
  max-width: 100%;
  height: 100%;
}

/* NAVIGATION */

nav {
  width: 100%;
  max-height: 100%;
  padding-bottom: 2vh;
}

.navigation {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.navigation > li {
  margin-right: 50px;
}

.navigation a {
  color: #292929;
  text-decoration: none;
}

.navigation a p {
  color: inherit;
  text-transform: uppercase;
}

.navigation a.active {
  color: #ff483b;
}
.navigation a:active p {
  transform: scale(1.2);
}

.navigation a:hover {
  color: #ff483b;
}

/* ABOUT-ME SECTION */

.about-me {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

/* ABOUT-ME LEFT */

.about-me-left-layout {
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f55549;
}

.about-me-left-layout > p {
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Jura", sans-serif;
  font-size: 4rem;
}

/* ABOUT-ME RIGHT */

.about-me-right-layout {
  width: 60%;
  height: 100%;
  overflow-y: auto;
}

.about-me-image-container {
  height: 300px;
  width: 300px;
  float: right;
}

.about-me-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me-container {
  max-width: 100%;
  padding: 5px 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
}

/* ABOUT-ME RIGHT - CONTAINER */

.about-me-container h2 {
  margin-top: 2%;
  font-size: 1.6rem;
  font-weight: 500;
}

.about-me-container h3 {
  margin-top: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.about-me-container p {
  font-size: 1.2rem;
  font-weight: 200;
}

/* PROJECTS SECTION */

section.projects {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #292929;
}

.projects .title {
  width: 30%;
  height: 100%;
  order: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .title > h2 {
  font-family: "Jura", sans-serif;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 7vh;
  color: white;
}

/* PROJECTS LIST */

.projects-list {
  display: flex;
  order: 0;
  width: 100%;
  height: 100%;
}

/* GO-TO-PROJECTS-SECTION-BUTTON */

.about-me-left-layout .go_to_btn_container {
  position: absolute;
  bottom: 0;
  width: 30%;
}
/* GO-TO-ABOUT-ME-SECTION-BUTTON */

.projects .go_to_btn_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 12%;
}

/* MOBILE VERSION */

@media screen and (max-width: 800px) {
  main {
    width: 100%;
  }

  .presentation-image-container {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .presentation {
    width: 100%;
    height: 91.5vh;
    align-items: flex-end;
  }
  .contact p {
    margin: 2px auto;
    display: block;
    text-align: center;
  }

  .contact span {
    display: none;
  }

  .presentation-resume {
    width: 100%;
    height: 50%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }

  .presentation-resume h2 {
    font-size: 4rem;
  }

  .presentation-resume h4 {
    margin-top: 20px;
    max-width: 225px;
  }

  nav {
    height: 30%;
  }
  .navigation {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
  }

  .navigation li {
    margin: 5px 0;
  }

  .navigation p {
    margin: 5px 0;
  }

  .navigation li span {
    display: none;
  }

  section.about-me {
    flex-direction: column-reverse;
  }

  section.about-me > div {
    width: 100%;
  }

  /* ABOUT-ME SECTION */

  section.projects {
    flex-direction: column;
  }

  section.projects .title {
    width: 100%;
    height: 125px;
    text-align: center;
    order: 0;
  }

  section.projects .title > h2 {
    writing-mode: initial;
    font-size: 3rem;
    width: 100%;
  }

  section.about-me .go_to_btn_container {
    width: 50%;
    left: 0;
  }

  section.projects .go_to_btn_container {
    width: 50%;
    right: 0;
  }

  section.projects .projects-list {
    flex-direction: column;
  }

  .about-me-image-container {
    margin: 0 auto;
    float: none;
  }
}
